* {
    font-family: Arial, Helvetica, sans-serif;
}

.titleevent{
    text-align: center;
    color: #424242;
    margin-top: 2em;
}
.vertical-timeline-element-date {
    color: white;
}

.vertical-timeline-element-icon {
    border-radius: 23% !important;
    box-shadow: 0 0 0 0px white !important;
}
